<!DOCTYPE html>
<html>
	<head>
		<title>Bag</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
		<section ng-app="myApp" ng-controller="myCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" role="navigation" class="mt-2">
						  <ol class="breadcrumb mb-2">
						    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Bag</li>
						  </ol>
						</nav>

						<div class="container">
							<div class="row">
								<ul class="list-group col-md-3 pr-0 pr-md-2">
									<li class="list-group-item agenda" ng-click="select(result.name)" ng-class="{active: isActive(result.name)}" ng-repeat="result in allItems.results">
										<div class="row">
											<div class="col-3">
												<img src="img/item_icon.svg" style="width: 25px">
											</div>
											<div class="col-9">
												<a href="#" ng-click="getItemDetails(result)" class="text-capitalize">{{result.name}}</a>
											</div>
										</div>
										
										
									</li>
									<button type="button" class="btn btn-primary btn-sm btn-block my-3" ng-click="paginarItem()">Carregar mais</button>
								</ul>

								<ul class="list-group col-md-9 order-first order-md-1 pr-0">
									<li class="list-group-item mb-1 bgTela">
										<div class="row mb-2 pb-2">
											<div class="col-12 display-4 text-capitalize">
												{{itemDetail.names[2].name}} 
											</div>
										</div>
										<div class="row my-2 py-2">
											<div class="col-4 font-weight-bold">
												Image:
											</div>
											<div class="col-8 ml-auto">
												<img src="{{itemDetail.sprites.default}}">
											</div>
										</div>
										<div class="row my-2 py-2 bgTela2">
											<div class="col-4 font-weight-bold">
												Attributes:
											</div>
											<div class="col-8 ml-auto text-capitalize" ng-repeat="attributes in itemDetail.attributes">
												{{attributes.name}}
											</div>
										</div>
										<div class="row my-2 py-2">
											<div class="col-4 font-weight-bold">
												Category:
											</div>
											<div class="col-8 ml-auto text-capitalize">
												{{itemDetail.category.name}}
											</div>
										</div>
										<div class="row my-2 py-2 bgTela2">
											<div class="col-4 font-weight-bold">
												Cost:
											</div>
											<div class="col-8 text-capitalize">
												{{itemDetail.cost}}
											</div>
										</div>
										<div class="row  my-2 py-2">
											<div class="col-4 font-weight-bold">
												Effect:
											</div>
											<div class="col-8 ml-auto text-capitalize" ng-repeat="effect_entries in itemDetail.effect_entries">
												{{effect_entries.short_effect}}
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="js/jquery-3.2.1.slim.min.js"></script>
		<script src="js/propper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
    	<script src="js/pokedex.js"></script>
	</body>
</html>